/cmake-build-debug
/.idea
/.venv
/generated
atlas_debug.png
/android/.gradle
/android/app/build
/android/build
/android/local.properties
/android/.cxx
/android/keystore.properties
*.apk
*.aab
*.jks
*.keystore
/build
/android/app/.cxx/
/android/gradle
/assets/sprites/*.png
/assets/sprites/*.rgba
/assets/sprites/include/*
/assets/sprites/Cat/*.ase
/assets/sprites/Cat/*.aseprite
/assets/sprites/HeadpatCursor/*.aseprite
